@charset "UTF-8";

:root{
    --cor-principal:#082557;
    --cor-secundaria:#6fd3d3;
    --cor-terciaria:#14453c;
}

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor-principal);
}

section{
    background-color: white;
    width: 63vw;
    margin: 10vh auto 0px auto;
    border-radius: 15px 15px 15px 15px;
}

#img-login {
    height: 250px;
    background: url(../images/Bg\ Login.jpg) no-repeat right top;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

#caixa-form{
    padding: 20px;
}

#caixa-form h1{
    padding: 10px;
    text-align: center;
}

#caixa-form p {
    text-align: justify;
}

#caixa-form input.campo{
    display: inline-block;
    margin: 10px auto 10px auto;
    padding: 7px;
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}

#caixa-form input.campo:focus{
    background-color: white;
}

#campo-email, #campo-senha{
    margin: 10px auto 10px auto;
    padding: 2px;
    width: 245px;
}

#caixa-form input.button{
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

#caixa-form input#btn-submit{
    color: white;
    background-color: #2b6060;
    padding: 7px 82px;
}

#caixa-form input#btn-submit:hover{
    background-color: #042a2a;
}

#caixa-form input#btn-reset{
    padding: 7px 33px;
}

#caixa-form input#btn-reset:hover{
    background-color: var(--cor-terciaria);
    color: white;
}
